version: '3.8'

services:
  email-service:
    build:
      context: ./services/email-service
    ports:
      - "4004:4004"
    environment:
      - PORT=4004
      - KAFKA_BROKERS=localhost:9094
    depends_on:
      - kafka

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    ports:
      - "9094:9094"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9094
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
